body{

	padding: 15px;
	font-family: "verdana";
	font-size: 15px;
}

fieldset{
	padding: 25px;
}

input{

	padding: 10px;
	margin: 5px;
}

.contenedor{
	width: 80%;
	height: auto;
	display: block;
	overflow: hidden;
	margin: 10px auto;
	padding: 10px;
}

.repuesta{
	width: 90%;
	height: auto;
	padding: 25px;
	border-radius: 4px;
	box-shadow: 2px 3px 10px #cacaca;
	margin: 10px auto;
	overflow: hidden;
}

.ocultar{
	display: none;
}


.mostrar{
	display: block;
}

.error{
	background-color: #ff2c2c;
}

.ok{
	background-color: #60d160;
}

form input{

	width: 75%;
	height: 25px;
	display: block;
	clear: both;
	margin: 5px auto;
	overflow: hidden;
}

form select{

	width: 76.5%;
	height: 45px;
	display: block;
	clear: both;
	margin: 5px auto;
	overflow: hidden;
}


form textarea{

	width: 76.2%;
	height: 150px;
	display: block;
	clear: both;
	margin: 5px auto;
	overflow: hidden;
}

form input[type=button]{

	width: 76.5%;
	height: auto;
	display: block;
	clear: both;
	padding: 10px;
	font-size: 25px;
	font-weight: bold;
	margin: 5px auto;
	overflow: hidden;
}

.default{
	background-color: #60d160;
}

.msg{

    padding: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    margin: 10px 0px 10px 0px;
}

 #map {
    height: 400px;
    width: 90%;
    display: block;
    overflow: hidden;
    margin: 10px auto;
  }

.end_point{
	height: auto;
	width: 100%;
	font-size: 13px;
	margin: 25px auto;
	color: blue;
	text-align: center;
}
.end_point:before{
	content: "\1F517";
}
.eliminar_poi{
	float: right;
	color: red;
	font-size: 14px;
	background: antiquewhite;
	padding: 5px;
	cursor: pointer;
}
